<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunction-generate-guid-uppercase-braces-hyphens.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/46f0fdc2-d126-4461-83fb-a39f7e489145/resourcegroups/DevResourceGroup/providers/Microsoft.Web/sites/AzureFunction-Generate-GUID-UpperCase-Braces-Hyphens</ResourceId>
    <UserName>$AzureFunction-Generate-GUID-UpperCase-Braces-Hyphens</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunction-generate-guid-uppercase-braces-hyphens.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>