<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://generateguiduppercasebraceshyphens.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/46f0fdc2-d126-4461-83fb-a39f7e489145/resourcegroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/GenerateGUIDUpperCaseBracesHyphens</ResourceId>
    <UserName>$GenerateGUIDUpperCaseBracesHyphens</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://generateguiduppercasebraceshyphens.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>