<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://af-dvs-rabbitmq-trigger-dotnet6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b94b9ca7-f590-4874-a721-6398af1f3ac8/resourcegroups/RG-RABBITMQ_POC/providers/Microsoft.Web/sites/AF-DVS-RabbitMQ-TRIGGER-dotNet6</ResourceId>
    <UserName>$AF-DVS-RabbitMQ-TRIGGER-dotNet6</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://af-dvs-rabbitmq-trigger-dotnet6.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>