<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://af-rabbitmq-poc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b94b9ca7-f590-4874-a721-6398af1f3ac8/resourceGroups/rg-rabbitmq_poc/providers/Microsoft.Web/sites/AF-RABBITMQ-POC</ResourceId>
    <UserName>$AF-RABBITMQ-POC</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://af-rabbitmq-poc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>