<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://az-dvs-zipfiles-poc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a2385df4-4413-474d-8431-d22c058814ad/resourcegroups/DevRG/providers/Microsoft.Web/sites/AZ-DVS-ZipFiles-POC</ResourceId>
    <UserName>$AZ-DVS-ZipFiles-POC</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://az-dvs-zipfiles-poc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>